asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
defusedxml==0.7.0rc1
Django==3.1.4
django-allauth==0.44.0
django-cuser==2017.3.16
django-fa==1.0.0
django-favicon==0.1.3
django-filter==2.4.0
django-fontawesome==1.0
django-fontawesome-5==1.0.18
django-mathfilters==1.0.0
django-modeltranslation==0.16.1
django-tinymce==3.2.0
djangoajax==3.2
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
djangorestversioning==0.2.3
idna==2.10
Markdown==3.3.3
oauthlib==3.1.0
Pillow==8.0.1
psycopg2-binary==2.8.6
pycparser==2.20
Pygments==2.7.2
PyJWT==2.0.0
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
social-auth-core==3.3.3
sqlparse==0.4.1
urllib3==1.26.2
martor
gunicorn
