{% load static %} {% load i18n %}
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->

<head>

    <title>LogIn</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/test_login.css' %}" type="text/css" media="all">


    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

</head>
<!-- //Head -->

<!-- Body -->

<body onload="movereg();">


    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method='POST' autocomplete="off">{% csrf_token %}
                <h1></h1>
                {% for field in registration_form %}
                <div class="field-group">
                    <div class="wthree-field">
                        {{field}}
                    </div>
                </div>


                <!--Errors Start-->
                {% for error in field.errors %}
                <p style="color: red;">
                    {{error}}
                </p>{% endfor %}


                <!--Errors End-->

                {% endfor %}






                <button>{% trans 'Sign Up' %}</button>
            </form>
        </div>


        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>{% trans 'Welcome Back!' %}</h1>
                   <p>{% trans 'To keep connected with us please login with your personal info' %}</p>
                    <button class="ghost" id="signIn" onclick="location.href='{% url 'login' %}'">{% trans 'Sign in' %}</button>
                </div>

                <div class="overlay-panel overlay-right">
                    <h1>{% trans 'New Here?' %}</h1>
                    <p>{% trans 'Register yourself to start your shopping experience.' %}</p>
                    <button class="ghost" id="signUp" onclick="location.href='{% url 'register' %}'">{% trans 'Sign Up' %}</button>
                </div>
            </div>
        </div>
    </div>

    <!--Start JS-->

    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });

        function movereg() {
            container.classList.add("right-panel-active");
        }
    </script>

    <!--End JS-->


</body>
<!-- //Body -->

</html>