.qty-left {
    border-radius: 25px 0 0 25px;
}

.qty-right {
    border-radius: 0 25px 25px 0;
}

.qty-input {
    width: 30px;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}