{% load static %}{% load mathfilters %}

<!doctype html>
<html lang="en">

<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">


</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <!--<a href="fdbdfbd" class="img logo rounded-circle mb-5">
                    <img src="{{profile.image.url}}">
                </a>-->
                <a href="{% url 'store' %}">
                    <h3 style="color: white;">
                        Eze Buy
                    </h3>
                </a>
                <br><br>
                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{% url 'profile' %}">My Orders</a>
                    </li><br>

                    <li>
                        <a href="{% url 'edit-profile' %}">Edit Profile</a>
                    </li><br>

                </ul>

                <div class="footer">

                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <h3>
                        Hello {{user.username}}
                    </h3>

                </div>

            </nav>


            <div class="container">
                <!--Table Start-->

                <form method="POST">
                    {% csrf_token %} {% for field in account_form %}
                    <p>
                        {{field.label_tag}} {{field}} {% if field.help_text %}
                        <small style="color: grey;">{{field.help_text}}</small> {% endif %}
                    </p>
                    {% endfor %} {% for field in account_form %} {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %} {% endfor %} {% if account_form.non_field_errors %}
                    <div style="color:red" ;>
                        <p>{{account_form.non_field_errors}}</p>
                    </div>
                    {% endif %}
                    <button type="submit">Save Changes</button>
                </form>

                <!--Table end-->
            </div>

        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/profile_main.js' %}"></script>
</body>

</html>