{% load static %}{% load mathfilters %} {% load i18n %}

<!doctype html>
<html lang="en">

<head>
    <title>Edit profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">


</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <!--<a href="fdbdfbd" class="img logo rounded-circle mb-5">
                    <img src="{{profile.image.url}}">
                </a>-->
                <a href="{% url 'store' %}">
                    <h3 style="color: white;">
                        Eze Buy
                    </h3>
                </a>
                <br><br>
                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{% url 'profile' %}">{% trans "My Orders" %}</a>
                    </li><br>

                    <li>
                        <a href="#">{% trans "My Profile" %}</a>
                    </li><br>
                    <li>
                        <a href="#">{% trans "Shipment Details" %}</a>
                    </li>
                </ul>

                <div class="footer">

                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <h3>
                        {% trans "Hello" %} {{user.username}}
                    </h3>

                </div>

            </nav>


            <div class="container">
                <!--Table Start-->

                <form method="POST">
                    {% csrf_token %} {% for field in account_form %}
                    <p>
                       {{field.label_tag}}" {{field}} {% if field.help_text %}
                        <small style="color: grey;">{{field.help_text}}</small> {% endif %}
                    </p>
                    {% endfor %} {% for field in account_form %} {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %} {% endfor %} {% if account_form.non_field_errors %}
                    <div style="color:red" ;>
                        <p>{{account_form.non_field_errors}}</p>
                    </div>
                    {% endif %}
                    <button type="submit">Save Changes</button>
                </form>

                <!--Table end-->
            </div>

        </div>
        <br><br>

    </form>
    </div>
    <div>
        {% get_current_language as LANGUAGE_CODE %}
        <form action="{% url 'set_language' %}" method="POST" style="display: block;position: absolute;left: 500px;bottom: 500px;">
        {% csrf_token %}
        <input type="hidden" name="text" value="{{redirect_to}}">
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
                {{language.name_local}} ({{language.code}})
            </option>
            {% endfor %}

        </select>
            <input type="submit" value="Go">
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/profile_main.js' %}"></script>
</body>

</html>